<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849660590954-h6b97j4dq4m1p7ca6ete493p0oif2j3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849660590954-h6b97j4dq4m1p7ca6ete493p0oif2j3m</string>
	<key>API_KEY</key>
	<string>AIzaSyDa5GF_jHVzKIQch4mp7QWZ7BLOobRE9Jk</string>
	<key>GCM_SENDER_ID</key>
	<string>849660590954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFirstApp</string>
	<key>PROJECT_ID</key>
	<string>myfirstapp-f4222</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstapp-f4222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849660590954:ios:35f4f95ff1b2ac56de4313</string>
</dict>
</plist>